global-include *.mo
global-include *.py
global-include *.example

global-exclude *.po

exclude .gitignore
exclude .gitreview
exclude *.bak

include setup.py
include requirements.txt
exclude requirements_test.txt
exclude requirements_build.txt
exclude run_tests.py
exclude Makefile
exclude MANIFEST.in

prune .hooks
prune doc
prune .eggs